
$brown-color: #42291A;
$normal-color: #EBD78D;
$border-color: #E2D296;
$font-base-color: #EEEEEE;
$font-contrast-color: #222222;
$font-gold-color: #D4AF37;
$font-silver-color: #B1B1B1;
$valide-color: #5CB85C;
$invalide-color: #D9534F;
$info-color: #5BC0DE;
