$brown-color: #42291A;
$normal-color: #EBD78D;
$border-color: #E2D296;

$font-base-color: #EEEEEE;
$font-contrast-color: #222;
$font-gold-color: #D4AF37;
$font-silver-color: #B1B1B1;

$valide-color: #5CB85C;
$invalide-color: #D9534F;
$info-color: #5BC0DE;

$bgr-btn-bleu:#1678C2;
$bgr-btn-red:#D01919;
$bgr-btn-green:#16AB39;
$bgr-color-black:#222;

// Proposition bouton contact caro
$font-btn-grad-color: #42291A;
$bgr-btn-grad-01: #fea;
$bgr-btn-grad-02: #eccb5f;
$bgr-btn-grad-03: #D4AF37;
$bgr-btn-grad-04: #fea;

// Proposition bouton contact hover caro
$font-btn-grad-color-hover: #D4AF37;
$bgr-btn-grad-hover-01: #804b2a;
$bgr-btn-grad-hover-02: #42291A;
$bgr-btn-grad-hover-03: #42291A;
$bgr-btn-grad-hover-04: #804b2a;

// Couleurs des catégories
$category-horror: #222;
$category-fantastic: rgb(40, 40, 190);
$category-combat: brown;
$category-medieval: rgb(20, 95, 20);

// Couleurs des difficultés
$difficulty-easy: #BECA99;
$difficulty-medium: #EBD78D;
$difficulty-hard: rgb(165, 65, 65);
