@use 'reset';
@use 'vars';

body {
  font-family: 'Merriweather', arial;
}
.bg_heros {
  opacity: 0.5;
      width: hide, 100vh;
      z-index: 0;
      position: relative;
}


  // or you can import your own font
  // @font-face {
  //   font-family: 'Merriweather';
  //   src: url(https://fr.allfont.net/allfont.css?fonts=merriweather);
  // }


