@use 'src/styles/vars' as vars;

.legal-notices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$bgr-color-black;
    margin: 6rem 0;
    
  &__encart {
    background-color: vars.$brown-color;
    border: 10px outset vars.$border-color;
    border-radius: 12px;
    box-shadow: 0px 10px 13px -7px #000000,
    inset 4px 2px 50px -1px rgba(0,0,0,0.62); 
    height: auto;
    width: auto;
    padding: 0 0.5rem;


  }&__title {
    letter-spacing: .2rem;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 2px 0 #290f0f;
    color: vars.$font-gold-color;
    text-align: center;

    z-index: 10;
    padding-top: 30px;
    padding-bottom: 5px;

  }&__text {
    line-height: 15px;
    font-size: 10px;
    margin: 20px;
    color: vars.$font-silver-color;
    text-align: justify;
    z-index: 8; 
    letter-spacing: .1rem;
  }

  h3 {
    letter-spacing: .2rem;
    font-weight: bold;
    font-size: 13px;
    color: vars.$normal-color;
    text-align: justify;
    z-index: 8; 
  }
  
}



