@use 'src/styles/vars';

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid vars.$border-color;
  width: 350px;

  position:relative;
  background-color: vars.$brown-color;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0px 30px 10px 30px;
  
  border: 10px outset vars.$border-color;
  border-radius: 12px;
  
  box-shadow: 0px 10px 13px -7px #000000,
  inset 4px 2px 50px -1px rgba(0,0,0,0.62); 

  &--active {
    transform: scale(1.05);
    background-color: rgba(vars.$normal-color, 0.3);
  }


  &__heroes {
    height: 100px;
    margin-top: 10px;
  }

  &__name {
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 24px;
    font-weight: bold;
    
    text-shadow: 3px 2px 0 #290f0f;
    color: vars.$font-gold-color;
    text-align: center;
    text-transform: uppercase;

    padding-bottom: 10px;
    border-bottom: vars.$border-color 1px solid;
  }

  &__stats {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: vars.$font-gold-color;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 15px;
    font-weight: lighter;
    color: #b1b1b1;
    text-align: center;
    font-style: italic;
    letter-spacing: .2rem;
  
    padding-bottom: 3px;
    border-bottom: vars.$border-color 1px;
    border-style: dashed;

    margin-bottom: 10px;
  }
}

.character {

  &:hover {
    transition: 0.5s;
    transform: scale(1.05);
  }
}
.character__heroes:hover {
  transition: 0.6s;
  transform: scale(0.9);
  filter: contrast(150%);
  filter: drop-shadow(10px 3px 30px gold);
}

.character-list {
  display: flex;
  flex-direction: row;

  height: 470px;
  margin: 1.2rem;
  //margin: auto;

}
