@use 'src/styles/vars';

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid vars.$border-color;
  width: 350px;
  //height: 100px;
  margin: 0 2rem;

  &__heroes {
    height: 150px;
  }

  &__name {
    margin-top: 2rem;
  }

  &__text {
    margin: 0.5rem;
    font-size: 20px;
  }

  &__stats {
    font-size: 18px;
    font-weight: bold;
    color: vars.$font-gold-color;
  }
}

.character-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
