@use 'src/styles/vars' as vars;

.NotFound{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: vars.$bgr-color-black;
  &__background{
    background-color: vars.$brown-color;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem;
    border: 0.6rem outset vars.$border-color;
    border-radius: 12px;
    box-shadow: 0px 10px 13px -7px #000000,
    inset 4px 2px 50px -1px rgba(0,0,0,0.62); 
    position: absolute;
  }&__container{
    width: 100%;
    height: 100%;
  }&__content{

    text-align: center;
    vertical-align: middle;
  }
    h1 {
      padding: 1rem;
      font-size: 8rem;
      margin-bottom: 2rem;
      color: vars.$font-gold-color;
    }

    h2 {
      padding: 1rem;
      font-size: 2rem;
      margin-bottom: 2rem;
      color: vars.$font-gold-color;
    }
  &__button {
    font-family: Merriweather;
    margin: auto;
    padding: 1rem 3rem;
    color: vars.$font-btn-grad-color;
    transition: all 0.4s;
    cursor: pointer;
    background: linear-gradient(
    180deg,
    vars.$bgr-btn-grad-01 0%,
    vars.$bgr-btn-grad-02 49%,
    vars.$bgr-btn-grad-03 51%,
    vars.$bgr-btn-grad-04 100%);
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: 5px outset vars.$font-gold-color;
    border-radius: 12px;
  }
  &__button:hover {
    color: vars.$font-btn-grad-color-hover;
    background: linear-gradient(
      180deg,
      vars.$bgr-btn-grad-hover-01 0%,
      vars.$bgr-btn-grad-hover-02 46.65551839464883%,
      vars.$bgr-btn-grad-hover-03 46.65551839464883%,
      vars.$bgr-btn-grad-hover-04  100%);
  }
}
