@use "src/styles/vars";

.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: bold;
    font-size: 24px;
  }

    &__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      width: 60%;

        h2 {
          margin-top: 3rem;
          margin-bottom: 1rem;
          font-weight: bold;
        }

        input {
          margin: 0.3rem 0;
          padding: 0.5rem;
          width: 70%;
        }

        button {
          margin: 0.3rem;
          padding: 0.5rem;
          background-color: #F9BA32;
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid black;
          width: 70%;
        }

        &--delete {

          button {
            background-color: #D70026;
            width: 200px;
          }
        }
    }

  &__delete-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D1D1D1;
    left: 4rem;
    right: 4rem;
    margin: auto;
    top: 40%;
    padding: 3rem;
    border-radius: 10px;

    button {
      margin: 2rem 0;
      width: 70%;
      height: 3rem;
    }
  }

  &__delete-modal--hide {
    display: none;
  }

  &__confirmation {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
    background-color: vars.$valide-color;
    border-radius: 5px;

    &--hiden {
      display:none;
    }
  }
}