@use 'src/styles/vars' as vars;

.connection{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: vars.$bgr-color-black;
  &__form{
      background-color: vars.$brown-color;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.2rem 2.1rem 0rem 2.1rem;
      border: 0.6rem outset vars.$border-color;
      border-radius: 12px;
      box-shadow: 0px 10px 13px -7px #000000,
      inset 4px 2px 50px -1px rgba(0,0,0,0.62); 
      position: absolute;
  }&__title {
    letter-spacing: .2rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 3px 2px 0 #290f0f;
    color: vars.$font-gold-color;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: vars.$border-color 1px solid;
  }&__redirect {
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: bold;
    text-shadow: 3px 2px 0 #290f0f;
    color: vars.$font-gold-color;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    letter-spacing: .2rem;
  
  }&__input {
    border-radius: 1rem;
    padding: 0.7rem 1.8rem;
    background: vars.$font-base-color;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem;
    border: 5px outset vars.$font-gold-color;
    border-radius: 15px;
    text-align: center;
    letter-spacing: .1rem;
  }&__button {
    letter-spacing: .2rem;
    font-family: merriweather;
    width: 13rem;
    height: auto;
    margin: auto;
    color: vars.$font-btn-grad-color;
    transition: all 0.4s;
    cursor: pointer;
    background: linear-gradient(
    180deg,
    vars.$bgr-btn-grad-01 0%,
    vars.$bgr-btn-grad-02 49%,
    vars.$bgr-btn-grad-03 51%,
    vars.$bgr-btn-grad-04 100%);
    padding: 0.8rem 0rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: 5px outset vars.$font-gold-color;
    border-radius: 12px;
  }
  &__button:hover {
    transform: translateY(-2px);
    color: vars.$font-btn-grad-color-hover;
    background: linear-gradient(
      180deg,
      vars.$bgr-btn-grad-hover-01 0%,
      vars.$bgr-btn-grad-hover-02 46.65551839464883%,
      vars.$bgr-btn-grad-hover-03 46.65551839464883%,
      vars.$bgr-btn-grad-hover-04  100%);
  }&__loged {
    letter-spacing: .2rem;
    font-family: merriweather;
    height: 20rem;
    z-index: 1;
    position: absolute;
    padding-top: 15rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: vars.$bgr-color-black;
    height: calc(100vh);
    padding-top: 400px;
    width: 100%;

    h1 {
      font-size: 2.2rem;
      color: vars.$font-gold-color;
      font-weight: bold;
      width: 90%;
      line-height: 3.3rem;
      margin-bottom: 2rem;
    }

    button {
      font-family: merriweather;
      letter-spacing: .2rem;
      width: auto;
      height: auto;
      margin: auto;
      color: vars.$font-btn-grad-color;
      transition: all 0.4s;
      cursor: pointer;
      background: linear-gradient(
      180deg,
      vars.$bgr-btn-grad-01 0%,
      vars.$bgr-btn-grad-02 49%,
      vars.$bgr-btn-grad-03 51%,
      vars.$bgr-btn-grad-04 100%);
      padding: 0.8rem 1rem;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      border: 5px outset vars.$font-gold-color;
      border-radius: 12px;

        &:hover {
          transform: translateY(-2px);
          color: vars.$font-btn-grad-color-hover;
          background: linear-gradient(
            180deg,
            vars.$bgr-btn-grad-hover-01 0%,
            vars.$bgr-btn-grad-hover-02 46.65551839464883%,
            vars.$bgr-btn-grad-hover-03 46.65551839464883%,
            vars.$bgr-btn-grad-hover-04  100%);
        }
    }
  }
  &__error{
    color: vars.$invalide-color;
    padding-top: 1rem;
    font-size: 0.7rem;
    letter-spacing: .1rem;
  }
}

