@use 'src/styles/vars';

.battle-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: vars.$bgr-color-black;

  &__scene {
    position: relative;
    height: 400px;
    width: 1000px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 10px 13px -7px #000000;
    border-radius: 12px;

    &--opponent {
      position: absolute;
      height: 350px;
      left: 1rem;
      bottom: -1rem;
    }&__log{
      border-radius: 5px;
      // height: 4rem;
      display: inline block;
      // width: 5rem;
      position: absolute;
      z-index: 3;
      left: 16%;
      bottom: 63%;
      // background-color:rgba(139, 182, 133, 0.4);
    }
    &__logTwo{
      border-radius: 5px;
      // height: 4rem;
      display: inline block;
      // width: 5rem;
      position: absolute;
      z-index: 3;
      left: 83%;
      bottom: 29%;
      // background-color:rgba(139, 182, 133, 0.4);
    }
    &__logText{
      font-size: 2.2rem;
      color:vars.$font-contrast-color;
      font-weight: bold;
      // position: absolute;
      z-index: 4;
      // left: 10%;
      // bottom: 50%;
      animation: fadeIn 0.7s;
      color: vars.$font-gold-color ;
      text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
      
    }
    &__logTextTwo{
      font-size: 2.2rem;
      color:vars.$font-contrast-color;
      font-weight: bold;
      // position: absolute;
      z-index: 4;
      // left: 10%;
      // bottom: 20%;
      animation: fadeIn 1.6s;
      color: vars.$font-gold-color;
      text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }

    button {
      font-family: Merriweather;
      padding: 0.8rem;
      width: 100px;
      margin: 0.5rem;
      background-color: vars.$brown-color;
      border: none;
      color: vars.$font-gold-color;
      font-weight: bold;
      border-radius: 5px;
      position: absolute;
    }

    &-attack {
      bottom: 6rem;
      right: 8rem;
    }

    &-finish {
      h1 {
        font-size: 2.2rem;
        color: vars.$font-gold-color;
        font-weight: bold;
      }

      button {
      font-family: Merriweather;
      bottom: 150px;
      right: 380px;
      width: 200px;
      }
    }

    h1 {
      margin: 2rem;

      font-style: oblique;
      font-family: cursive;
      line-height: 1.3rem;
      letter-spacing: .1rem;
    }

    &--image-container {
      position: absolute;
      background-color: vars.$normal-color;
      border: 7px solid vars.$brown-color;
      right: -30px;
      bottom: -30px;
      border-radius: 100%;
      height: 140px;
      width: 140px;
      z-index: 1;

      img {
        position: relative;
        height: 100px;
        right: 0.8rem;
        bottom: -10px;
      }
    } 
  }

  &__image-background {
    position: absolute;
    img {
    height: 400px;
    z-index: 0;
    border-radius: 12px;
    }
  }
}

.opponent-frame {
width: 200px;
    position: absolute;
    top: -1px;
    left: 0rem;
    border-right: 1px solid #42291a;
    border-bottom: 1px solid #42291a;
    border-radius: 0 0px 12px 5px ;

  &__header {
    height: 25%;
    width: 100%;
    background-color: vars.$brown-color;
    border-radius: 8px 0px 0 0;
  }
  &__stat{
      color: vars.$font-contrast-color;
      font-weight: 700;
      padding-top: 0.2rem;
      margin: auto;
      flex: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      text-align: center;
      height: 75%;
      width: 100%;
      background-color: vars.$normal-color;
      border-radius: 0 0 12px 0;
  }
  h1 {
    color: vars.$font-gold-color;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    padding-top: 0.2rem;

    font-style: oblique;
    font-family: cursive;

    line-height: 1.3rem;
    letter-spacing: .1rem;
   

  }
  p{
    font-style: oblique;
    font-family: cursive;
    line-height: 1.3rem;
    letter-spacing: .1rem;
    color: rgb(51, 27, 27);
  }
}
