.header {
  background-color: #426E86;
  position: fixed;
  width: 100%;
  left:0;
  top: 0;
  height: 4rem;
  z-index: 999;

  ul {
  display: flex;

    li {
      margin: 1.5rem;
    }
  }

  &__leftside {
  display: flex;
  text-align: left;
  width: 70%;
  }

  &__rightside {
    width: 30%;
    text-align: right;
    display: flex;


      img {
        margin: 0 1.5rem;
      }
    }
}
