@use 'src/styles/vars' as vars;

.header {
  background-color: vars.$font-contrast-color;
  position: fixed;
  width: 100%;
  left:0;
  top: 0;
  height: 4rem;
  z-index: 999;
  letter-spacing: .1rem;

  ul {
  display: flex;

    li {
      margin: 1.5rem;
      color: vars.$font-gold-color;
      font-weight: 800;
      font-size: 1rem;
    }
    li:hover {
      transition: 0.3s;
      transform: scale(1.1);
      color: vars.$font-silver-color;
    }
  }

  &__leftside {
  display: flex;
  text-align: left;
  width: 100%;
    
  img {
    width: 10.5rem;
    top: 0;
    margin: 0.3rem 0.3rem 0rem 0.3rem;
  }

  }

  &__rightside {
    position: absolute;
    display: flex;
    right: 1rem;

      li{
        margin: 3.5rem;
        color: vars.$font-gold-color;
        font-weight: 800;
        font-size: 1rem;
      }
      li:hover {
        transition: 0.3s;
        transform: scale(1.1);
      }

      img {
        position: relative;
        width: 5rem;
        top: -2.1rem;
        left: 3.1rem;
        margin-right: 0.2rem;
      }
      p {
        margin-right: 1.0rem ;
      }
      img:hover {
        transition: 0.6s;
        transform: scale(0.9);
      }
    }
}

// .character:hover {
//   transition: 0.5s;
//   filter: grayscale(0);
//   transform: scale(1.1);
// }

// .character__heroes
