.clickable-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__scene {
    position: relative;
    height: 400px;
    width: 80%;
    background-color: #D1D1D1;
    border: 5px solid black;

    h1 {
      margin: 2rem;
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: red;
      border-radius: 100px;
      height: 140px;
    }
  }
}
