.health-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__text {
        color: #222222;
        font-weight: 600;
    }

    &__bar-total {
        height: 10px;
        width: 152px;
        border-radius: 10px;
        border: solid 1px black;
        background-color: rgb(99, 22, 22);
        margin: 0.25rem;
    }

}
