// integrer typo merriweather
// voir pr le responsive
// ajout img de fond

.contact_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #B1B1B1;
}

.contact_wrap {
  background-color: #42291A;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px 60px 50px;

  border: 10px outset #D4AF37;
  border-radius: 12px;

  box-shadow: 0px 10px 13px -7px #000000,
  inset 4px 2px 50px -1px rgba(0,0,0,0.62); 

  position: absolute;
}

.contact_picture {
  // width: 20%;
  // padding-top: 55px;
  // box-sizing: border-box;

  // max-width: 100%;
  // vertical-align: middle;

}

.contact_form {
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;

  text-shadow: 3px 2px 0 #290f0f;
  color: #D4AF37;
  text-align: center;

  padding-bottom: 10px;
  box-sizing: border-box;
}

.contact_email {
  min-height: 50px;
  border-radius: 25px;
  padding: 14px 30px;

  display: block;
  background: #EEEEEE;
  font-size: 15px;
  line-height: 1.5;
}


.contact_input--message {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;

  display: block;
  background: #EEEEEE;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

// BUTTON //

.contact_button {
  width: 50%;
  height: 50px;

  color: #42291A;

  transition: all 0.4s;
  
  cursor: pointer;

  background: linear-gradient(
  180deg,
  #fea 0%,
  #eccb5f 49%,
  #D4AF37 51%,
  #fea 100%);

  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  border: 5px outset #D4AF37;
  border-radius: 12px;
}

.contact_button:hover {
  color: #D4AF37;
  background: linear-gradient(
    180deg,
    #804b2a 0%,
    #42291A 46.65551839464883%,
    #42291A 46.65551839464883%,
    #804b2a  100%);
}

