// integrer typo merriweather

@use 'src/styles/vars' as vars;

.contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: vars.$font-contrast-color;
  margin: 3rem;

  &__wrap {
    width: 600px;
    background-color: vars.$brown-color;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem;
  
    border: 10px outset vars.$border-color;
    border-radius: 12px;
  
    box-shadow: 0px 10px 13px -7px #000000,
    inset 4px 2px 50px -1px rgba(0,0,0,0.62); 
  
    position: absolute;

  }&__picture {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  
    max-width: 100%;
    vertical-align: middle;

  }&__title {
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    text-shadow: 3px 2px 0 #290f0f;
    color: vars.$font-gold-color;
    text-align: center;

    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: vars.$border-color 1px solid;

  }&__email {
    letter-spacing: .1rem;
    width: 100%;
    border-radius: 15px;
    display: list-item;
    background: vars.$font-base-color;
    font-size: 18px;
    line-height: 1.5;
    padding: 1.5rem 0 0 1rem;
    border: 5px outset vars.$font-gold-color;
    border-radius: 15px;
    text-align: left;
    font-family: Merriweather;
  }&__message {
    letter-spacing: .1rem;
    font-family: Merriweather;
    width: 100%;
    min-height: 200px;
    border-radius: 15px;
    display: list-item;
    background: vars.$font-base-color;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px outset vars.$font-gold-color;
    border-radius: 15px;
    padding: 1rem;
    resize: none;

  }&__button {
    letter-spacing: .2rem;
    width: 50%;
    height: 50px;
    font-family: merriweather;
    color: vars.$font-btn-grad-color;
  
    transition: all 0.4s;
    
    cursor: pointer;
  
    background: linear-gradient(
    180deg,
    vars.$bgr-btn-grad-01 0%,
    vars.$bgr-btn-grad-02 49%,
    vars.$bgr-btn-grad-03 51%,
    vars.$bgr-btn-grad-04 100%);
  
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  
    border: 5px outset vars.$font-gold-color;
    border-radius: 12px;
  }
  &__button:hover {
    color: vars.$font-btn-grad-color-hover;
    background: linear-gradient(
      180deg,
      vars.$bgr-btn-grad-hover-01 0%,
      vars.$bgr-btn-grad-hover-02 46.65551839464883%,
      vars.$bgr-btn-grad-hover-03 46.65551839464883%,
      vars.$bgr-btn-grad-hover-04  100%);

      transform: translateY(-2px);
  }
}
