@use 'src/styles/vars' as vars;

.signup {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: vars.$bgr-color-black;
    margin: 3rem;
    form {
      background-color: vars.$brown-color;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 2rem 1.7rem 2.1rem;
      border: 0.6rem outset vars.$border-color;
      border-radius: 12px;
      box-shadow: 0px 10px 13px -7px #000000,
      inset 4px 2px 50px -1px rgba(0,0,0,0.62); 
      position: absolute;
      justify-content: center;
  
    }&__input{
      border-radius: 1rem;
      padding: 0.7rem 1.8rem;
      background: vars.$font-base-color;
      font-size: 1rem;
      line-height: 1.5;
      margin: 0.7rem auto;
      border: 5px outset vars.$font-gold-color;
      border-radius: 15px;
      text-align: center;
      width: 21rem;
      letter-spacing: .1rem;
    }&__title{
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 3px 2px 0 #290f0f;
      color: vars.$font-gold-color;
      text-align: center;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: vars.$border-color 1px solid;
    }&__picture {
      margin: auto;
      width: 10rem;
      max-width: 50%;
    }&__signed {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        
        h1 {
          font-size: 2.2rem;
          color: vars.$font-gold-color;
          font-weight: bold;
          width: 90%;
          line-height: 3.3rem;
          margin-bottom: 2rem;
        }
    }&__text {
      margin: 1rem;
    }  &__button {
      font-family: 'Merriweather';
      letter-spacing: .2rem;
      width: 14rem;
      height: auto;
      margin: auto;
      color: vars.$font-btn-grad-color;
      transition: all 0.4s;
      cursor: pointer;
      background: linear-gradient(
      180deg,
      vars.$bgr-btn-grad-01 0%,
      vars.$bgr-btn-grad-02 49%,
      vars.$bgr-btn-grad-03 51%,
      vars.$bgr-btn-grad-04 100%);
      padding: 0.8rem 0rem;
      margin-top: 1rem;
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
      border: 5px outset vars.$font-gold-color;
      border-radius: 12px;
    }
    &__button:hover {
      color: vars.$font-btn-grad-color-hover;
      background: linear-gradient(
        180deg,
        vars.$bgr-btn-grad-hover-01 0%,
        vars.$bgr-btn-grad-hover-02 46.65551839464883%,
        vars.$bgr-btn-grad-hover-03 46.65551839464883%,
        vars.$bgr-btn-grad-hover-04  100%);

        transform: translateY(-2px);
    }
    &__error {
      padding-top: 0.3rem;
      color: vars.$invalide-color;
    }&__submit{
      text-align: center;
    }
}
