@use 'src/styles/vars' as vars;


.team{
  margin-top: 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 5rem ;
}

.member{
  // display: flex;
  // flex-direction: row;
&__section{
    // display: flex;
  // flex-direction: row;
  padding: 4rem 0rem;
  background-color: #fff;
}&__container{
  margin: 0.1rem;
  display: flex;
  flex-direction: row;
}&__wrapper{
  margin-top: 1.9rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}&__card{
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // https://html-css-js.com/css/generator/box-shadow/
  box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.26)
}&__imgBgr{
  width: 20rem;
  height: auto;
  object-fit: cover;
  // https://bennettfeely.com/clippy/
  clip-path: polygon(0 1%, 100% 0, 100% 71%, 0% 100%);
  border-radius: 8px 5px 0 0;
}&__imgProfile{
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 2;
  border: 0.5rem solid #ebeef8;
}&__name{
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
}&__job{
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}&__about{
  font-size: 1.5rem;
  margin: .9rem 0;
  font-style: italic;
  text-align: center;
  color: #333;
}&__btn {
  width: 10rem;
  height: 3.5rem;
  margin: auto;
  color: vars.$font-btn-grad-color;
  transition: all 0.4s;
  cursor: pointer;
  background: linear-gradient(
  180deg,
  vars.$bgr-btn-grad-01 0%,
  vars.$bgr-btn-grad-02 49%,
  vars.$bgr-btn-grad-03 51%,
  vars.$bgr-btn-grad-04 100%);
  padding: 0.8rem 0rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border: 5px outset vars.$font-gold-color;
  border-radius: 2rem;
}
&__btn:hover {
  color: vars.$font-btn-grad-color-hover;
  background: linear-gradient(
    180deg,
    vars.$bgr-btn-grad-hover-01 0%,
    vars.$bgr-btn-grad-hover-02 46.65551839464883%,
    vars.$bgr-btn-grad-hover-03 46.65551839464883%,
    vars.$bgr-btn-grad-hover-04  100%);
}&__social{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0,0,0,0.1);
  font-size: 3rem;
}&__social-icon:hover{
  transform: translateY(-2px); 
}
}

// si t'es sur mobile , le css est au-dessus
// si plus de 700px en largeur sur ton ecran ( donc pc ) voir ci-dessous 
@media screen and (min-width: 700px){
  .team{
    width: 100%;
    height: 100%;
    margin-top: 0.3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 9rem;
  }
.member{
  &__wrapper{
    width: 19rem;
  }&__card{
    width: 17rem;
    margin: 0.5rem ;
  }&__social{
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
    font-size: 2rem;
  }&__imgBgr{
    width: 17rem;
    height: auto;
    object-fit: cover;
    // https://bennettfeely.com/clippy/
    clip-path: polygon(0 1%, 100% 0, 100% 71%, 0% 100%);
    border-radius: 8px 5px 0 0;
  }&__imgProfile{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -5rem;
    z-index: 2;
    border: 0.5rem solid #ebeef8;
  }&__name{
    font-size: 2.2rem;
    color: #333;
    margin: 1.5rem 0;
  }&__btn:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0,0,0,0.2);
  }&__btn:active{
    transform: translateY(0);
    box-shadow: none;
  }
}
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}
.card:nth-child(1){
  animation: fadeIn 0.7s;
}
