@use 'src/styles/vars';
.game-detail {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #222222;
  justify-content: center;
  font-size: 15px;
  letter-spacing: .2rem;
  color: vars.$font-silver-color;
  &__content {
  p {
    font-size: 17px;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    letter-spacing: .2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: vars.$border-color 1px;
  }
}
&__title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block ;
  text-shadow: 3px 2px 0 #290f0f;
  color: vars.$font-gold-color;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 1.3rem;
  padding-bottom: 0.7rem;
  margin-bottom: 0.1rem;
  border-bottom: dashed vars.$border-color 1px;
  }
  &__section {
    color: vars.$brown-color;
    font-size: large;
    font-weight: lighter;
    margin: auto;
    width: 60rem;
    height: auto;
    background-color: vars.$border-color;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 10px 30px 10px 30px;
    border: 10px double vars.$brown-color;
    border-radius: 12px;
  }
  
  &__character {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__character--container {
    display: flex;
    flex-direction: row;
  }
  &__disabled {
    width: 600px;
    height: 50px;
  
    padding: 10px 20px 10px 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  
    border: 5px solid #222222;
    border-radius: 12px;
    background-color: gray;
    color: #222222;
    letter-spacing: .2rem;
    pointer-events: none;
  }
  
  &__button {
    width: 600px;
    height: 50px;
  
    color: vars.$font-btn-grad-color;
    letter-spacing: .2rem;
    transition: all 0.4s;
  
    cursor: pointer;
  
    background: linear-gradient(
      180deg,
    vars.$bgr-btn-grad-01 0%,
    vars.$bgr-btn-grad-02 49%,
    vars.$bgr-btn-grad-03 51%,
    vars.$bgr-btn-grad-04 100%);
  
    padding: 10px 20px 10px 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  
    border: 5px outset vars.$font-gold-color;
    border-radius: 12px;
    &:hover {
      color: vars.$font-btn-grad-color-hover;
      background: linear-gradient(
        180deg,
        vars.$bgr-btn-grad-hover-01 0%,
        vars.$bgr-btn-grad-hover-02 46.65551839464883%,
        vars.$bgr-btn-grad-hover-03 46.65551839464883%,
        vars.$bgr-btn-grad-hover-04  100%);
        transform: scale(1.25);
    }
    
  } &__btn {
    margin-top: 1rem;
    width: 300px;
    height: 50px;
    color: vars.$font-btn-grad-color;
    letter-spacing: .2rem;
    transition: all 0.4s;
    cursor: pointer;
    background: linear-gradient(
      180deg,
    vars.$bgr-btn-grad-01 0%,
    vars.$bgr-btn-grad-02 49%,
    vars.$bgr-btn-grad-03 51%,
    vars.$bgr-btn-grad-04 100%);
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 5px outset vars.$font-gold-color;
    border-radius: 12px;
    &:hover {
      color: vars.$font-btn-grad-color-hover;
      background: linear-gradient(
        180deg,
        vars.$bgr-btn-grad-hover-01 0%,
        vars.$bgr-btn-grad-hover-02 46.65551839464883%,
        vars.$bgr-btn-grad-hover-03 46.65551839464883%,
        vars.$bgr-btn-grad-hover-04  100%);
        transform: scale(1.25);
    }
  }
}
