@use 'src/styles/vars' as vars;

.games-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 6rem 0 10rem 0;
  background-color: #222222;
  

  &__title {
  font-size: 24px;
  font-weight: bold;
  
  letter-spacing: 10px;

  text-shadow: 3px 2px 0 #290f0f;
  color: vars.$font-gold-color;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;

  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: dashed vars.$border-color 1px;

  }&__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.game__card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height:600px;
  width:400px;
  position:relative;
  background-color: vars.$brown-color;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0px 30px 10px 30px;
  
  &--Facile{
    border: 10px outset vars.$difficulty-easy;
  }
  
  &--Moyen{
    border: 10px outset vars.$difficulty-medium;
  }
  
  &--Difficile{
    border: 10px outset vars.$difficulty-hard;
  }

  
  box-shadow: 0px 10px 13px -7px #000000,
  inset 4px 2px 50px -1px rgba(0,0,0,0.62); 

  filter: grayscale(1);

.game__card__name {
  //font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  
  text-shadow: 3px 2px 0 #290f0f;
  color: vars.$font-gold-color;
  text-align: center;
  text-transform: uppercase;

  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: vars.$border-color 1px solid;
  margin-top: 1rem;
  }

.game__card__difficulty {
  font-size: 15px;
  font-weight: lighter;
  color: #b1b1b1;
  text-align: center;
  font-style: italic;
  letter-spacing: .2rem;

  padding-bottom: 10px;
  border-bottom: vars.$border-color 1px;
  border-style: dashed;
  font-weight: bold;
}

.game__card__categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.7rem;
}

.game__card__description {
  margin-top: 0.7rem;
  font-size: 15px;
  letter-spacing: .2rem;
  color: vars.$font-silver-color;
  height: 104px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
  .game__image {
    border-radius: 20px;
    width: 110%;
    height: 40%;
    padding: 10px;
    border-bottom: dashed vars.$font-gold-color;
  }

  .game__card--button {
    width: auto;
    height: auto;

    font-family: Merriweather;
  
    color: vars.$font-btn-grad-color;

    letter-spacing: .2rem;
    transition: all 0.4s;
    
    cursor: pointer;
  
    background: linear-gradient(
    180deg,
    vars.$bgr-btn-grad-01 0%,
    vars.$bgr-btn-grad-02 49%,
    vars.$bgr-btn-grad-03 51%,
    vars.$bgr-btn-grad-04 100%);
  
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
  
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  
    border: 5px outset vars.$font-gold-color;
    border-radius: 12px;

    transition: .2s ease-in-out 0s;

    &:hover {
      color: vars.$font-btn-grad-color-hover;
      background: linear-gradient(
        180deg,
        vars.$bgr-btn-grad-hover-01 0%,
        vars.$bgr-btn-grad-hover-02 46.65551839464883%,
        vars.$bgr-btn-grad-hover-03 46.65551839464883%,
        vars.$bgr-btn-grad-hover-04  100%);

        //transform: scale(1.25);
        transform: translateY(-2px);
    }
  }
}

.game__card:hover {
  transition: 0.5s;
  filter: grayscale(0);
  transform: scale(1.05);
}


