@use 'src/styles/vars';

.player-frame {
  width: 100px;
  height: 100px;

  &__click {
    z-index: 3;
    position: absolute;
    right: 0;
    bottom: 0;
    right: -30px;
    bottom: -30px;
    border-radius: 100%;
    height: 140px;
    width: 140px;
  }


  .player-menu {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 4rem;
    border: 1px solid vars.$brown-color;
    border-radius: 5px 0 0 0;

    &__header {
      height: 25%;
      width: 100%;
      background-color: vars.$brown-color;

      h1 {
        color: vars.$font-gold-color;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        margin: auto;
        
        letter-spacing: .2rem;
        text-shadow: 3px 2px 0 #290f0f;
      }
    }

    &__stats {
      font-weight: 700;
      padding-top: 0.25rem;
      margin: auto;
      flex: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      text-align: center;
      height: 75%;
      width: 100%;
      background-color: vars.$normal-color;

      padding-right: 7px;

      line-height: 0.9rem;
      letter-spacing: .1rem;

      font-style: oblique;
      font-family: cursive;

      color: rgb(51, 27, 27);
    }
  }
}
