@use 'src/styles/vars';

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: vars.$bgr-color-black;


  &__scene {
    display: flex;
    height: 400px;
    width: 1000px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 13px -7px #000000;

    img {
      position: absolute;
      width: 150px;
      right: -8px;
      bottom: 0;
    }

    h1 {
      margin: 2rem;
    }

    &--left {
      width: 65%;
    }

    &--right {
      display: flex;
      flex-direction: column;
      width: 35%;

      &-text {
        position: relative;
        height: 80%;

        img {
          position: absolute;
          top: 0.2rem;
          width: 90%;
          height: 100%;
          right: 0.9rem;
        }

        p {
          position: absolute;

          padding: 3rem 3rem;
          line-height: 1.3rem;
          letter-spacing: .1rem;

          text-align: justify;
          font-style: oblique;
          font-family: cursive;

          z-index:1;

          vertical-align: middle;
          color: rgb(51, 27, 27);
      
        }
      }

      &-buttons {
        font-family: Merriweather;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 20%;
        margin: 1rem 1rem;

        a {
          text-align: left;
        }

        button {
          font-family: Merriweather;
          padding: 0.8rem;
          width: 45%;
          margin: 0.9rem;
          background-color: vars.$brown-color;
          border: none;
          color: vars.$font-gold-color;
          border-radius: 5px;
          font-weight: bold;
        }
      }
    }

  }

  &__image-background {
    position: absolute;
    img {
    height: 400px;
    z-index: 0;
    border-radius: 12px;
    }
  }
}

@media (max-width: 800px) {
  .start__scene {
    flex-direction: column;
    height: 80%;

    &--left {
      width: 100%;
      height: 60%;
    }

    &--right {
      width: 100%;
      height: 40%;

      &-text {
        p{
        padding: 1rem;
        position: relative;
        letter-spacing: .2rem;

        }
        img {
          display: none;
        }
      }

      &-buttons {
        font-family: Merriweather;
        margin-bottom: 2rem;
      }
    }
  }
}
