@use 'src/styles/vars';


.footer {
  position: fixed;
  bottom: 0;
  //background-color: #222222;

  background-color: vars.$border-color;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 2px 10px 5px 10px;
  
  border: 10px double vars.$brown-color;
  border-radius: 12px;
  

  width: 100%;
  z-index: 999;
  font-family: Merriweather, arial;
   //text-transform: uppercase;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

.footer li {
  color: vars.$brown-color;
  text-align: center;
  padding: 1rem;
  margin: 0 2rem;
  text-decoration: none;
  font-size: 17px;

  letter-spacing: .2rem;
  transition: all 0.4s;
  
}

.footer li:hover {
  //color: vars.$font-gold-color;
  filter: brightness(200%);
  transform: scale(1.25);
}
